<div id="add_main_content">
    <div class="add_style">
        <p style="font-size:14px;font-weight:bold">访问统计</p>
        <div class="add_line">
            <table>
                <tr width="980px" height="50px">
                    <th width="400px">访问IP</th>
                    <th width="120px">访问时间</th>
                </tr>
            </table>
        </div>

        <volist name="visitors" id="visitor">
        <div class="add_line">
            <table>
                <tr width="980px" height="50px">
                    <th width="400px">{$visitor['ip']}</th>
                    <th width="120px">{$visitor['created_at']}</th>
                </tr>
            </table>
        </div>
        </volist>

        <div class="add_line_page">
            <div class="add_line_page_style">
                {$page}
            </div>
        </div>
    </div>
</div>
