<div class="add_shop_watch_style">
    <p><span style="font-weight:bold;font-size:16px">真实姓名：</span>{$user['real_name']}</p>
    <p><span style="font-weight:bold;font-size:16px">电子邮箱：</span>{$user['email']}</p>
    <p><span style="font-weight:bold;font-size:16px">您的年级：</span>{$user['grade']}</p>
    <p><span style="font-weight:bold;font-size:16px">联系方式：</span>{$user['tel_type']}</p>
    <p><span style="font-weight:bold;font-size:16px">长号：</span>{$user['tel_full']}</p>    
    <p><span style="font-weight:bold;font-size:16px">短号：</span>{$user['tel_brief']}</p>
</div>
