<div id="add_main_content">
	<div class="add_style">
		
		<!-- 建议输出 -->
		<div class="add_line2">
			<div class="add_line2_inside">
				<p>XXX 在 2012-12-12 12:12:12 发布：</p>
				<p>联系方式：aaa@yahoo.com.cn</p>
				<p>建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容</p>
				<p><a href="#" onclick="del_jianyi()">删除</a></p>
			</div>
		</div>

		<div class="add_line2">
			<div class="add_line2_inside">
				<p>XXX 在 2012-12-12 12:12:12 发布：</p>
				<p>联系方式：aaa@yahoo.com.cn</p>
				<p>建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容建议内容</p>
				<p><a href="#" onclick="del_jianyi()">删除</a></p>
			</div>
		</div>

		<!-- 分页系统 -->
		<div class="add_line_page">
			<div class="add_line_page_style">
				<a href="#" style="background-color:#00CCFF;color:white">首页</a>
				<a href="#">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">尾页</a>
			</div>
		</div>

	</div>
</div>