<div id="add_main_content">
    <div class="add_style">
        <div class="add_style_inside">
            <form action="{:U('Users/updatePassword')}" method="POST">
                <p>用&nbsp;户&nbsp;名&nbsp;&nbsp;：{$user['username']}</p>
                <input type="hidden" value="{$user['uuid']}" name="user_id" />
                <p>新&nbsp;密&nbsp;码&nbsp;&nbsp;：<input type="password" name="new_password" id="new_password" class="bar"></p>
                <p>确认密码：<input type="password" name="confirm_password" id="confirm_password" class="bar"></p>
                <p><input type="submit" value="保存" class="add_btn" style="width:140px" onclick="return check_password();"></p>
            </form>
        </div>
    </div>
</div>
