<div id="add_main_content">
	<div class="add_style">
	
		<!-- 输出用户 -->
		
		<div class="add_line">
			<table>
				<tr width="980px" height="50px">
					<th width="200px">用户昵称</th><th width="150px">真实姓名</th><th width="200px">注册时间</th><th width="200px">操作</th>
				</tr>
			</table>
		</div>

		<div class="add_line">
			<table>
				<tr width="980px" height="50px">
					<th width="200px"><a href="{:U('Users/show')}" target="_blank">XXX</a></th><th width="150px">XXX</th><th width="200px">2012-12-12 12:12:12</th><th width="200px"><a href="#" onclick="del()">删除</a></th>
				</tr>
			</table>
		</div>

		<!-- 分页系统 -->
		<div class="add_line_page">
			<div class="add_line_page_style">
				<a href="#" style="background-color:#00CCFF;color:white">首页</a>
				<a href="#">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">尾页</a>
			</div>
		</div>

	</div>
</div>