<div class="shop_list_watch_line" onclick="getUrl(6)">
	<div class="lineStyle_inside">
		<center><a href="javascript:url_change(6)">返回上级</a></center>
	</div>
</div>

<div class="add_shop_watch_style">
	<p style="font-weight:bold;font-size:16px">01149号订单</p>
	<p>下单时间：2012-12-12 12:12:12</p>
	<p>订单状态：<span style="color:#e5443c;font-weight:bold">未下单</span></p>
	<p>预期总额：&yen;35.00</p>
	<p>&nbsp;</p>
	<p>商品名称：大学时光(CollegeLife)甜美少女 香体润肤露</p>
	<p>类型：香体润肤露</p>
	<p>单价：&yen;20.00</p>
	<p>数量：5</p>
	<p>产品链接：<a href="shop_watch.php">点击查看</a></p>
</div>