<div id="add_main_content">
	<div class="add_style">
		
		<div class="add_style_inside">
			<p>管理员名称：<input type="text" name="" class="bar"></p>
			<p>管理员密码：<input type="password" name="" class="bar"></p>
			<p>管理员级别：
				<select name="level" class="bar" style="height:30px">
					<option value="1">总管理员</option>
					<option value="2">分管理员</option>
				</select>
			</p>
			<p>管理楼层分配：</p>
			<p>
				<?php
				for($i=1;$i<40;$i++){
				?>
					<input type="checkbox" name="build[]" value="<?php echo $i; ?>"><?php echo $i; ?>栋&nbsp;&nbsp;
				<?php
				}
				?>
			</p>
			<p><input type="submit" name="" value="添加管理员" class="add_btn" style="width:140px"></p>
		</div>

		<hr />

		<!-- 输出管理员 -->
		<p style="font-size:14px;font-weight:bold">管理员查看</p>

		<div class="add_line">
			<table>
				<tr width="980px" height="50px">
					<th width="200px">管理员</th><th width="150px">级别</th><th width="200px">最近登录</th><th width="200px">操作</th>
				</tr>
			</table>
		</div>

		<div class="add_line">
			<table>
				<tr width="980px" height="50px">
					<th width="200px"><a href="{:U('Admins/show')}" target="_blank">XXX</a></th><th width="150px">分管理员</th><th width="200px">2012-12-12 12:12:12</th><th width="200px"><a href="#" onclick="del_manager()">删除</a></th>
				</tr>
			</table>
		</div>

		<!-- 分页系统 -->
		<div class="add_line_page">
			<div class="add_line_page_style">
				<a href="#" style="background-color:#00CCFF;color:white">首页</a>
				<a href="#">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">尾页</a>
			</div>
		</div>

	</div>
</div>