<div id="add_main_content">
	<div class="add_style">
		<p style="font-size:14px;font-weight:bold"><a href="{:U('Admins/index')}">管理员管理&gt;</a> {$admin['admin_name']}</p>
		<hr />
		<div class="add_style_inside">
			<p>管理员：{$admin['admin_name']}</p>
			<p>级别：{$admin['rank']}</p>
			<p>管理楼层：</p>
			<p style="font-weight:bold">{$admin['buildings']}</p>
			<p>最近登录：{$admin['latest_login_at']}</p>
			<p style="font-size:14px;font-weight:bold;margin-top:25px">该管理员订单情况：</p>
		</div>

		<div class="add_line">
			<table>
				<tr width="980px" height="50px">
					<th width="200px">订单号</th><th width="200px">订单状态</th><th width="200px">收款</th><th width="200px">交易时间</th>
				</tr>
			</table>
		</div>

		<volist name="orders" id="order">
			<div class="add_line">
				<table>
					<tr width="980px" height="50px">
						<th width="200px"><a href="{:U('Orders/show', array('order_id' => $order['uuid']))}" target="_blank"><?php printf('%05d', $order['id']); ?></a></th><th width="200px">{$order['order_status']}</th><th width="200px"><?php if ($order['payment_status'] == '已收款') { echo $order['payment']; } else { echo 0; } ?></th><th width="200px"><?php if ($order['payment_at'] == '0000-00-00 00:00:00') { echo '暂未收款'; } else { echo $order['payment_at']; } ?></th>
					</tr>
				</table>
			</div>
        </volist>
	</div>
</div>