<div id="add_main_content">
    <div class="add_style">
        <div class="add_style_inside">
            <form action="{:U('Categories/update')}" enctype="multipart/form-data" method="POST">
                <input type="hidden" name="category_id" value="{$category['uuid']}" />
                <p>分类名称：<input type="text" name="category[name]" value="{$category['name']}" class="bar"></p>
                <p><input type="submit" value="确认修改" class="add_btn"></p>
            </form>
        </div>
    </div>
</div>
