<div id="add_main_top">
	<div id="add_main_top_left">
		<div class="style">
			<img src="__PUBLIC__/images/logo.png" width="200">
		</div>
	</div>
	<div id="add_main_top_right">
		<div class="style">
			<a href="{:U('Orders/index')}" <if condition="CONTROLLER_NAME eq 'Orders'"> style="background-color:#00CCFF;color:white" </if>>订单管理</a>
			<a href="{:U('Logs/index')}" <if condition="CONTROLLER_NAME eq 'Logs'"> style="background-color:#00CCFF;color:white" </if>>访问统计</a>
			<if condition="$_SESSION['rank'] eq 3">
			<a href="{:U('Goods/index')}" <if condition="CONTROLLER_NAME eq 'Goods'"> style="background-color:#00CCFF;color:white" </if>>产品管理</a>
			</if>
			<if condition="$_SESSION['rank'] eq 3">
			<a href="{:U('Users/index')}" <if condition="CONTROLLER_NAME eq 'Users'"> style="background-color:#00CCFF;color:white" </if>>用户管理</a>
			</if>
			<if condition="$_SESSION['rank'] eq 3">
			<a href="{:U('Messages/index')}" <if condition="CONTROLLER_NAME eq 'Messages'"> style="background-color:#00CCFF;color:white" </if>>通知管理</a>
			</if>
			<a href="{:U('Suggestions/index')}" <if condition="CONTROLLER_NAME eq 'Suggestions'"> style="background-color:#00CCFF;color:white" </if>>建议管理</a>
			<if condition="$_SESSION['rank'] neq 1">
			<a href="{:U('Admins/index')}" <if condition="CONTROLLER_NAME eq 'Admins'"> style="background-color:#00CCFF;color:white" </if>>管理员</a>
			</if>
			<a href="{:U('Public/logout')}">登出</a>
		</div>
	</div>
	<div style="clear:both;">
	    <p style="padding: 5px 0px 0px 10px; font-size: 13px; font-weight: 800">欢迎您：<?php echo getAdminRank($_SESSION['rank']); ?>&nbsp;&nbsp;<?php echo $_SESSION['admin_name']; ?></p>
	</div>
</div>