<div id="add_main_content">
	<div class="add_style">
		<p style="font-size:14px;font-weight:bold">订单管理</p>
		<div class="add_line">
			<table>
				<tr width="980px" height="50px">
					<th width="150px">用户名</th><th width="80px">订单号</th><th width="150px">订单状态</th><th width="150px">交付状态</th><th width="150px">用户下单时间</th><th width="150px">发货时间</th><?php if ($_SESSION['rank'] != 2) { ?><th width="150px">操作</th><?php } ?>
				</tr>
			</table>
		</div>
 
		<volist name="orders" id="order">
			<div class="add_line">
				<table>
					<tr width="980px" height="50px">
						<th width="150px"><a href="{:U('Users/show', array('user_id' => $order['user']['id']))}" target="_blank">{$order['user']['username']}</a></th><th width="80px"><a href="{:U('Orders/show', array('order_id' => $order['uuid']))}" target="_blank"><?php printf('%05d', $order['id']) ?></a></th><th width="150px">{$order['order_status']}</th><th width="150px">{$order['payment_status']}</th><th width="150px">{$order['created_at']}</th><th width="150px"><?php echo ($order['consignment_at'] == '0000-00-00 00:00:00')? '暂未发货' : $order['consignment_at']; ?></th><?php if ($_SESSION['rank'] != 2) { ?><th width="150px">
							<select name="" onchange="self.location.href=options[selectedIndex].value">
								<option value="#">选择状态</option>
								<if condition="$_SESSION['rank'] eq 3">
									<?php if ($order['order_status'] == '未发货') {?>
									<option value="<?php echo U('Orders/destroy', array('order_id' => $order['uuid'], 'p' => $_GET['p'])); ?>">取消订单</option>
									<?php } ?>
								</if>
								<?php if ($order['order_status'] == '未发货') { ?>
								<option value="{:U('Orders/update', array('operation' => 'consignment', 'order_id' => $order['uuid'], 'p' => $_GET['p']))}">正在发货</option>	
								<?php } else { 
									      if ($order['payment_status'] == '未收款') {
							    ?>
									      <option value="{:U('Orders/update', array('operation' => 'collect', 'order_id' => $order['uuid'], 'p' => $_GET['p']))}">已收款</option>
								<?php    } ?>
								          
								<?php } ?>
							</select>
						</th>
						<?php } ?>
					</tr>
				</table>
			</div>
		</volist>

		<!-- 分页系统 -->
		<div class="add_line_page">
			<div class="add_line_page_style">
                {$page}
			</div>
		</div>
	</div>
</div>