<div id="add_main_content">
	<div class="add_style">
		<div class="add_style_inside">
			<form action="" method="POST" enctype="multipart/form-data">
				<p>通知内容：<input type="text" name="" class="bar" style="width:400px"></p>
				<p><input type="submit" name="" value="发布通知" class="add_btn"></p>
			</form>
		</div>

		<!-- 输出产品 -->
		<hr />
		<p style="font-size:14px;font-weight:bold">通知列表</p>
		
		<div class="add_line">
			<table>
				<tr width="980px" height="50px">
					<th width="200px">通知标题</th><th width="200px">发布时间</th><th width="200px">发布人</th><th width="200px">操作</th>
				</tr>
			</table>
		</div>

		<div class="add_line">
			<table>
				<tr width="980px" height="50px">
					<th width="200px">XXX</th><th width="200px">2012-12-12 12:12:12</th><th width="200px">XXX</th><th width="200px"><a href="#" onclick="return del_msg()">删除</a></th>
				</tr>
			</table>
		</div>

		<!-- 分页系统 -->
		<div class="add_line_page">
			<div class="add_line_page_style">
				<a href="#" style="background-color:#00CCFF;color:white">首页</a>
				<a href="#">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">尾页</a>
			</div>
		</div>

	</div>
</div>