<div id="add_main_content">
	<div class="add_style">
		<div class="add_style_inside">
			<p>产品名称：<input type="text" name="" class="bar"></p>
			<p>产品类型：<input type="text" name="" class="bar"></p>
			<p>产品品牌：<input type="text" name="" class="bar"></p>
			<p>产品尺寸：<input type="text" name="" class="bar"></p>
			<p><input type="submit" name="" value="添加产品" class="add_btn"></p>
		</div>

		<!-- 输出产品 -->
		<hr />
		<p style="font-size:14px;font-weight:bold">产品类型：<a href="#">面膜</a> <a href="#">护肤品</a></p>
		
		<div class="add_line">
			<table>
				<tr width="980px" height="50px">
					<th width="200px">产品名</th><th width="150px">产品类型</th><th width="200px">数量</th><th width="200px">添加时间</th>
				</tr>
			</table>
		</div>

		<div class="add_line">
			<table>
				<tr width="980px" height="50px">
					<th width="200px"><a href="{:U('Goods/show')}" target="_blank">XXX</a></th><th width="150px">护肤品</th><th width="200px">100</th><th width="200px">2012-12-12 12:12:12</th>
				</tr>
			</table>
		</div>

		<!-- 分页系统 -->
		<div class="add_line_page">
			<div class="add_line_page_style">
				<a href="#" style="background-color:#00CCFF;color:white">首页</a>
				<a href="#">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">尾页</a>
			</div>
		</div>

	</div>
</div>