<div id="add_main_content">
	<div class="add_style">
		<p style="font-size:14px;font-weight:bold"><a href="{:U('Goods/index')}">添加产品&gt;</a> XXX产品</p>
		<hr />
		<div class="add_style_inside">
			<p>产品名称：XXX</p>
			<p>产品品牌：XXX</p>
			<p>产品参数：XXX</p>
			<p>已购买数量：100笔</p>
		</div>
		<p>&nbsp;</p>
		<p style="font-size:14px;font-weight:bold">该产品相关评论</p>
		<hr />

		<div class="add_line2">
			<div class="add_line2_inside">
				<p><a href="{:U('Users/show')}">XXX</a> 在 2012-12-12 12:12:12 评论：</p>
				<p>评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容</p>
				<p><a href="#" onclick="del_comment()">删除</a></p>
			</div>
		</div>
		<div class="add_line2">
			<div class="add_line2_inside">
				<p><a href="{:U('Users/show')}">XXX</a> 在 2012-12-12 12:12:12 评论：</p>
				<p>评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容</p>
				<p><a href="#" onclick="del_comment()">删除</a></p>
			</div>
		</div>

	</div>
</div>