<h2>大学时光 <span style="font-size:12px;letter-spacing:1px">移动站</span></h2>

<div id="add_menu">
	<div class="lineStyle" onclick="url_change(1)">
		<div class="lineStyle_inside" style="background-color:#3eb5d4">
			<center><a href="javascript:url_change(1)">主页</a></center>
		</div>
	</div>
	<div class="lineStyle" onclick="url_change(2)">
		<div class="lineStyle_inside">
			<center><a href="javascript:url_change(2)">注册</a></center>
		</div>
	</div>
	<div class="lineStyle" onclick="url_change(3)">
		<div class="lineStyle_inside">
			<center><a href="javascript:url_change(3)">商城</a></center>
		</div>
	</div>
	<div class="lineStyle" onclick="url_change(4)">
		<div class="lineStyle_inside">
			<center><a href="javascript:url_change(4)">关于</a></center>
		</div>
	</div>
	<div class="lineStyle" onclick="url_change(5)">
		<div class="lineStyle_inside">
			<center><a href="javascript:url_change(5)">联系</a></center>
		</div>
	</div>
</div>

<!-- 登陆后的菜单
<div id="add_menu">
	<div class="lineStyle" onclick="url_change(1)">
		<div class="lineStyle_inside" style="background-color:#3eb5d4">
			<center><a href="javascript:url_change(1)">主页</a></center>
		</div>
	</div>
	<div class="lineStyle" onclick="url_change(3)">
		<div class="lineStyle_inside">
			<center><a href="javascript:url_change(3)">商城</a></center>
		</div>
	</div>
	<div class="lineStyle" onclick="url_change(6)">
		<div class="lineStyle_inside">
			<center><a href="javascript:url_change(6)">订单</a></center>
		</div>
	</div>
	<div class="lineStyle" onclick="url_change(7)">
		<div class="lineStyle_inside">
			<center><a href="javascript:url_change(7)">账户</a></center>
		</div>
	</div>
	<div class="lineStyle" onclick="url_change(8)">
		<div class="lineStyle_inside">
			<center><a href="javascript:url_change(8)">登出</a></center>
		</div>
	</div>
</div>
-->