<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>大学时光</title>
	<link href="__PUBLIC__/stylesheets/collegelife/mobile/style.css" type="text/css" rel="stylesheet" media="screen">
	<script type="text/javascript" src="__PUBLIC__/javascripts/jquery.js"></script>
	<script type="text/javascript" src="__PUBLIC__/javascripts/collegelife/mobile/function.js"></script>
</head>
<body>
<div id="box">

<include file = 'Public:header' />

{__CONTENT__}

<include file = 'Public:footer' />

</div>
</body>
</html>