<center><img src="__PUBLIC__/images/bg_1.jpg" width="100%"></center>
<div class="add_shop_watch_style">
    大学时光(CollegeLife)甜美少女 香体润肤露 250ml，为你提供肌肤所需要的各种养分，有效精心呵护您的肌肤。让干燥肌肤得到舒缓，手感犹如丝绸一样细密。口碑好评如潮泉涌，为自己的肌肤送上一份保湿饮料！
    <p><span style="font-weight:bold">商品名称：</span>大学时光</p>
    <p><span style="font-weight:bold">品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;牌：</span>大学时光(CollegeLife)</p>
    <p><span style="font-weight:bold">分&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;类：</span>乳液</p>
    <p><span style="font-weight:bold">功&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;效：</span>保湿</p>
    <p><span style="font-weight:bold">产品规格：</span>250ml</p>
    <p><span style="font-weight:bold">原&nbsp;&nbsp;产&nbsp;地：</span>中国广州</p>
    <p><span style="font-weight:bold">保质期限：</span>3年</p>
    <p><span style="font-weight:bold">适用人群：</span>干性及混合性肌肤</p>
    <p><span style="font-weight:bold">特别说明：</span>本产品为全新无盒有塑封</p>
</div>
