<div class="add_shop_watch_style" style="color:red" id="error_show">* 操作成功</div>
<script type="text/javascript" language="javascript">
$(document).ready(function(){
	$("#error_show").fadeOut(5000);
})
</script>

<!--
<div class="add_shop_watch_style" style="color:red" id="error_show">* 操作失败</div>
<script type="text/javascript" language="javascript">
$(document).ready(function(){
	$("#error_show").fadeOut(5000);
})
</script>
-->

<div id="shop_list_box">
	<div class="shop_list_box_style">
		<table>
			<tr width="100%" height="60px">
				<th width="200px">订单名称</th><th width="200px">状态</th><th width="200px">支付状态</th><th width="200px">下单时间</th><th width="200px">操作</th>
			</tr>
		</table>
	</div>
</div>

<div id="shop_list_box">
	<div class="shop_list_box_style">
		<table>
			<tr width="100%" height="60px" align="center">
				<td width="200px"><a href="shop_list_watch.php">01149号订单</a></td><td width="200px">未下单</td><td width="200px">未收款</td><td width="200px">2012-12-12 12:12</td><td width="200px"><span onclick="check_list(01149,1)">取消订单</span></td>
			</tr>
		</table>
	</div>
</div>

<div id="shop_list_box">
	<div class="shop_list_box_style">
		<table>
			<tr width="100%" height="60px" align="center">
				<td width="200px"><a href="shop_list_watch.php">01149号订单</a></td><td width="200px">未下单</td><td width="200px">未收款</td><td width="200px">2012-12-12 12:12</td><td width="200px"><span onclick="check_list(01149,1)">取消订单</span></td>
			</tr>
		</table>
	</div>
</div>