<div class="shop_list_watch_line" onclick="getUrl(6)">
	<div class="lineStyle_inside">
		<center><a href="{:U('Orders/index')}">返回上级</a></center>
	</div>
</div>

<div class="add_shop_watch_style">
	<p style="font-weight:bold;font-size:16px"><?php printf('%05d', $order['id']); ?>号订单</p>
	<p>下单时间：{$order['created_at']}</p>
	<p>订单状态：<span style="color:#e5443c;font-weight:bold">{$order['order_status']}</span></p>
	<p>预期总额：&yen;{$order['payment']}</p>
	<p>&nbsp;</p>
	
	<volist name="goods" id="item">
		<p>商品名称：{$item['name']}</p>
		<p>类别：{$item['category']}</p>
		<p>单价：&yen;{$item['preferential']}</p>
		<p>数量：{$item['count']}</p>
		<p>产品链接：<a href="{:U('Orders/build', array('goods_id' => $item['uuid']))}">点击查看</a></p>
	</volist>
</div>