<div id="shop_list">
	<div class="shop_list_style">
		<div class="info_title" style="border:0px">我的订单&nbsp;&nbsp;&nbsp;
			<span style="font-size:12px;font-weight:normal;color:red">[修改成功]</span>

            <!-- 
 			<span style="font-size:12px;font-weight:normal;color:red">[ 修改失败]</span>

			<span style="font-size:12px;font-weight:normal;color:red">[原密码错误]</span> 
			-->
		</div>		
		<div id="shop_list_box">
			<div class="shop_list_box_style">
				<table>
					<tr width="1000px" height="30px">
						<th width="200px">订单名称</th><th width="200px">状态</th><th width="200px">支付状态</th><th width="200px">下单时间</th><th width="200px">操作</th>
					</tr>
				</table>
			</div>
		</div>

		<div id="shop_list_box">
			<div class="shop_list_box_style">
				<table>
					<tr width="1000px" height="30px" align="center">
						<td width="200px"><a href="{:U('Shops/show')}" target="_blank">01149号订单</a></td><td width="200px">未下单</td><td width="200px">未收款</td><td width="200px">2012-12-12 12:12</td><td width="200px"><span onclick="check_list(01149,1)">取消订单</span></td>
					</tr>
				</table>
			</div>
		</div>

		<div id="shop_list_box">
			<div class="shop_list_box_style">
				<table>
					<tr width="1000px" height="30px" align="center">
						<td width="200px"><a href="{:U('Shops/show')}" target="_blank">01149号订单</a></td><td width="200px">未下单</td><td width="200px">未收款</td><td width="200px">2012-12-12 12:12</td><td width="200px"><span onclick="check_list(01149,1)">取消订单</span></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>