<div id="footer">
    <div class="footer_style">
        北理珠大学时光 College Life
        <p><a href="{:U('Index/shopCenter')}">进入商城</a> | <a href="{:U('Mobile/Index/index')}">移动版</a> | <a href="{:U('Index/about')}">关于大学时光</a> | <a href="{:U('Index/contact')}">联系我们</a></p>
        <p>Copyright &copy; 2013 大学时光 College Life. All Rights Reserved.</p>
        <p>Designer & Developer : 北京理工大学珠海学院-计算机学院-<a href="http://www.bankofdream.com/northstudio21" target="_blank">北纬21度工作室</a></p>
    </div>
</div>
