<div id="bgDiv" style="display:none;">
         
</div>

<div id="bgDiv1" style="display:none;">
         
</div>
<div id="top">
	<div id="top_msg">
		<div class="top_box_style">
			<present name="Think.session.uid">
				欢迎回来 <a href="{:U('Users/edit', array('uid' => $_SESSION['uid']))}" title='查看个人账户'>{$_SESSION['username']}</a>&nbsp;&nbsp;

                <if condition = "is_null(cookie('latest_msg')) eq false">
				    <a href="msg_watch.php?id='.$msg_id.'"><strong>最新通知：{:cookie('latest_msg')}</strong></a>
                </if>
			</present>
		</div>
	</div>
	<div id="top_box">	
		<div class="top_box_style">
			<present name="Think.session.uid">
				<span><a href="{:U('Goods/index', array('uid' => $_SESSION['uid']))}">查看订单</a></span>
				<span><a href="{:U('Users/edit', array('uid' => $_SESSION['uid']))}">个人账户</a></span>
				<span><a href="{:U('Public/logout')}">登出</a></span>	
			<else />
				<span><a href="{:U('Index/index')}">首页登录</a></span>
				<span><a href="{:U('Mobile/Index/index')}">移动版</a></span>
			</present>
		</div>
	</div>
</div>

<div id="menu">
	<div id="menu_logo">
		<a href="{:U('Index/index')}"><img src="__PUBLIC__/images/logo.png" border="0"></a>
	</div>
	<div id="menu_btn">
		<div class="menu_btn_style">
			{:menu_style_link('首页', U('Index/index'), array(), 'Index/index', $Think.CONTROLLER_NAME.'/'.$Think.ACTION_NAME)}
			<present name="home">
				<notpresent name="Think.session.uid">
					<a href="javascript:void(0);" onClick="bgDiv.style.display='';loginBox.style.display='';">登录</a>
					<a href="javascript:void(0);" onClick="bgDiv1.style.display='';loginBox1.style.display='';">注册</a>
				</notpresent>
			</present>
			{:menu_style_link('进入商城', U('Index/shopCenter'), array(), 'Index/shopCenter/Goods', $Think.CONTROLLER_NAME.$Think.ACTION_NAME)}
			{:menu_style_link('关于大学时光', U('Index/about'), array(), 'Index/about', $Think.CONTROLLER_NAME.'/'.$Think.ACTION_NAME)}
			{:menu_style_link('联系我们', U('Index/contact'), array(), 'Index/contact', $Think.CONTROLLER_NAME.'/'.$Think.ACTION_NAME)}
		</div>
	</div>
</div>