<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>大学时光</title>
    <link href="__PUBLIC__/stylesheets/collegelife/style.css" type="text/css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="__PUBLIC__/javascripts/collegelife/function.js"></script>
    <script type="text/javascript" src="__PUBLIC__/javascripts/jquery.js"></script>
</head>
<body onload="animation_top_start()">

<include file = 'Public:header' />

{__CONTENT__}

<include file = 'Public:footer' />

</body>
</html>
