<div id="about">
    <div id="reply" style="height:auto">
        <div class="reply_style">
            <center><p><?php echo($message); ?></p></center>
            <p><center><p class="jump">页面自动 <a id="href" href="<?php echo($jumpUrl); ?>">跳转</a> 等待时间： <b id="waitSecond"><?php echo($waitSecond); ?></b></p></center></p>
        </div>
    </div>
</div>
<script type="text/javascript">
(function(){
var wait = document.getElementById('waitSecond');
var href = document.getElementById('href').href;

var interval = setInterval(function(){
    var time = --wait.innerHTML;
    if(time <= 0) {
        location.href = href;
        clearInterval(interval);
    };
}, 1000);
})();
</script>
